-- MySQL dump 10.13  Distrib 9.3.0, for Win64 (x86_64)
--
-- Host: localhost    Database: mylab
-- ------------------------------------------------------
-- Server version	9.3.0

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `aktivitas_ruang_dosen`
--

DROP TABLE IF EXISTS `aktivitas_ruang_dosen`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `aktivitas_ruang_dosen` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nama_dosen` varchar(100) NOT NULL,
  `datetime` datetime NOT NULL,
  `status` enum('Didalam','Diluar') NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `aktivitas_ruang_dosen`
--

LOCK TABLES `aktivitas_ruang_dosen` WRITE;
/*!40000 ALTER TABLE `aktivitas_ruang_dosen` DISABLE KEYS */;
INSERT INTO `aktivitas_ruang_dosen` VALUES (1,'jokowi','2025-06-09 19:15:48','Didalam'),(2,'prabowo','2025-06-09 19:15:48','Didalam'),(3,'trump','2025-06-09 19:15:48','Diluar'),(4,'saif','2025-06-09 19:15:48','Didalam'),(5,'riski','2025-06-09 19:15:48','Diluar'),(6,'yuhuan','2025-06-09 19:15:48','Didalam'),(7,'saif','2025-06-11 11:49:00','Diluar'),(8,'saif','2025-06-11 11:49:58','Didalam'),(9,'saif','2025-06-11 12:03:28','Didalam'),(10,'saif','2025-06-11 12:03:38','Diluar');
/*!40000 ALTER TABLE `aktivitas_ruang_dosen` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `aktivitas_ruang_lab`
--

DROP TABLE IF EXISTS `aktivitas_ruang_lab`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `aktivitas_ruang_lab` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nama_laboran` varchar(100) NOT NULL,
  `datetime` datetime NOT NULL,
  `status` enum('Masuk','Keluar') NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `aktivitas_ruang_lab`
--

LOCK TABLES `aktivitas_ruang_lab` WRITE;
/*!40000 ALTER TABLE `aktivitas_ruang_lab` DISABLE KEYS */;
INSERT INTO `aktivitas_ruang_lab` VALUES (1,'Ahmad Suryana','2025-05-31 12:15:00','Masuk'),(2,'Ahmad Suryana','2025-05-31 13:00:00','Keluar'),(3,'Rina Marlina','2025-05-31 12:45:00','Masuk');
/*!40000 ALTER TABLE `aktivitas_ruang_lab` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `api`
--

DROP TABLE IF EXISTS `api`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `api` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nim_mahasiswa` varchar(100) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `nama_mahasiswa` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL,
  `jenis_kegiatan` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL,
  `nama_kegiatan_other` text CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci,
  `tanggal_pinjam` date DEFAULT NULL,
  `start_time` time DEFAULT NULL,
  `end_time` time DEFAULT NULL,
  `kode_ruangan` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL,
  `nama_ruangan` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL,
  `gedung_ruangan` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL,
  `nik_penanggungjawab` varchar(30) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL,
  `nama_penanggungjawab` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=1460 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `api`
--

LOCK TABLES `api` WRITE;
/*!40000 ALTER TABLE `api` DISABLE KEYS */;
/*!40000 ALTER TABLE `api` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jadwal_matkul`
--

DROP TABLE IF EXISTS `jadwal_matkul`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `jadwal_matkul` (
  `id` int NOT NULL AUTO_INCREMENT,
  `matkul` varchar(100) DEFAULT NULL,
  `start_time` time DEFAULT NULL,
  `end_time` time DEFAULT NULL,
  `kode_ruangan` varchar(50) DEFAULT NULL,
  `prodi` varchar(100) DEFAULT NULL,
  `dosen` varchar(100) DEFAULT NULL,
  `hari` varchar(10) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jadwal_matkul`
--

LOCK TABLES `jadwal_matkul` WRITE;
/*!40000 ALTER TABLE `jadwal_matkul` DISABLE KEYS */;
/*!40000 ALTER TABLE `jadwal_matkul` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ruang`
--

DROP TABLE IF EXISTS `ruang`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ruang` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nama_ruang` varchar(100) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ruang`
--

LOCK TABLES `ruang` WRITE;
/*!40000 ALTER TABLE `ruang` DISABLE KEYS */;
INSERT INTO `ruang` VALUES (1,'Ruang Dosen A'),(2,'Ruang Dosen B'),(3,'Lab Komputer');
/*!40000 ALTER TABLE `ruang` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ruang_dosen`
--

DROP TABLE IF EXISTS `ruang_dosen`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ruang_dosen` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nama_ruang` varchar(100) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ruang_dosen`
--

LOCK TABLES `ruang_dosen` WRITE;
/*!40000 ALTER TABLE `ruang_dosen` DISABLE KEYS */;
INSERT INTO `ruang_dosen` VALUES (1,'Ruang Dosen A'),(2,'Ruang Dosen B');
/*!40000 ALTER TABLE `ruang_dosen` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ruang_lab`
--

DROP TABLE IF EXISTS `ruang_lab`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ruang_lab` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nama_ruang` varchar(100) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ruang_lab`
--

LOCK TABLES `ruang_lab` WRITE;
/*!40000 ALTER TABLE `ruang_lab` DISABLE KEYS */;
INSERT INTO `ruang_lab` VALUES (1,'Lab Komputer'),(2,'Lab Jaringan');
/*!40000 ALTER TABLE `ruang_lab` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` int NOT NULL AUTO_INCREMENT,
  `role` enum('superadmin','dosen','laboran') NOT NULL,
  `nama` varchar(100) NOT NULL,
  `foto` varchar(255) DEFAULT NULL,
  `password` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES (1,'dosen','Pak Ahmadi','1750057873182.jpg','password123'),(2,'laboran','Gilang','1750057366156.jpg','password123'),(3,'superadmin','saif','Screenshot (2).png','1'),(11,'dosen','hanif','saif.jpg','123456'),(13,'superadmin','roni',NULL,'1'),(14,'superadmin','s','Screenshot (1).png','1');
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users_ruang`
--

DROP TABLE IF EXISTS `users_ruang`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users_ruang` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int DEFAULT NULL,
  `ruang_id` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  KEY `ruang_id` (`ruang_id`),
  CONSTRAINT `users_ruang_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`),
  CONSTRAINT `users_ruang_ibfk_2` FOREIGN KEY (`ruang_id`) REFERENCES `ruang` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users_ruang`
--

LOCK TABLES `users_ruang` WRITE;
/*!40000 ALTER TABLE `users_ruang` DISABLE KEYS */;
INSERT INTO `users_ruang` VALUES (1,1,2),(2,2,3);
/*!40000 ALTER TABLE `users_ruang` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-06-25  9:39:43
